doctype
html(lang="en")
  head
    title FCC : URL Shortener Microservice
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
 
body
  .container
    h3(style="padding-top:20px; padding-bottom:20px;") FCC Basejump: File Metadata microservice
    a(href="/shurl") File Metadata Microservice